.block  {
    height: 100vh;
    text-align: center;
    vertical-align: middle;
    padding-left: 20em;
    padding-right: 20em;
    padding-top: 15em;
}

.navbar    {
    background-color: #F6F7EB;
}

.hello-world    {
    background-color: #393E41;
    color: #F6F7EB;
}
.hello-world  h3  {    
    color: #F6F7EB;
}

.about-me    {
    background-color: #F6F7EB;
}

.about-me  h3  {
    color: #333;
}

.doppel    {
    background-color: #E94F37;
}

.johnny-four    {
    background-color: #3F88C5;
}

.dashbored    {
    background-color: #44BBA4;
}

.scrible    {
    background-color: #F6F7EB;
}

.contact    {
    background-color: #393E41;
    color: #F6F7EB;
    font-size: 14px;
    padding-left: 10em !important;
    padding-right: 10em !important;
}

.contact  h3  {    
    color: #F6F7EB;    
}

h3  {
    margin-top: 0px !important;   
    margin-bottom: 5em; 
    font-family: 'Kreon', serif !important;
    font-size: 32px !important;
}

h1  {
    text-align: center;
    font-family: 'Kreon', serif !important;
}

p  {
   font-family: 'Ubuntu', sans-serif !important;
   font-size: 24px;
}

a {
    text-decoration: none !important;
    color: #333 !important;
}

a:visited {
    text-decoration: none !important;
    color: #333 !important;
}

a:hover {
    text-decoration: none !important;
    color: #3F88C5 !important;
}

a:active {
    text-decoration: none !important;
    color: #333 !important;
}